/*reset for all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  color: #000;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
 body, html {
   position: relative;
 }

 p, pre {
   display: inline-block;
  }

span, strong, em {
  display: inline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  display: inline;
}

blockquote {
  display: block;
  padding-left: 1em;
  border-left: 0.5 solid #bbb;
}
