* {
  position: static;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;;
  text-decoration: none;;
  border: none;
  outline: none;
  background: none;
  white-space: normal;
  list-style: none;
}

form *:focus {
  border: none;
  outline: none;
}

html { position: relative; }

body *:not(script, link) { display: block; }

body {
  position: relative;
  background: #fff;
}

p { display: inline-block; }

span, em, strong { display: inline; }

em { font-style: italic; }

strong { font-style: bold; }

blockquote {
  display: inline-block;
  border-left: 0.5em solid #aaa;
  padding-left: 0.5em;
}

label {
  font-size: 1.25em;
  font-weight: bolder;
}

textarea, input {
  padding: 0.5em;
  border: 1px solid #aaa;
  margin-bottom: 0.5em;
}

input::placeholder {
  color: #aaa;
}

textarea:focus, input:focus { border: 1px solid #444; }

textarea { resize: none; }

button, input[type="submit"] {
  background: #aaa;
  border: none;
  padding: 0.5em;
}

button:hover, input[type="submit"]:hover { background: #777; }

button:active, input[type="submit"]:active { background: #444; }

h1 { font-size: calc(1em * 2.0); }
h2 { font-size: calc(1em * 1.9); }
h3 { font-size: calc(1em * 1.6); }
h4 { font-size: calc(1em * 1.4); }
h5 { font-size: calc(1em * 1.2); }
h6 { font-size: calc(1em * 1.1); }

ul, ol, li { padding-left: 0.5em; }

li { display: list-item; }

ul li { list-style: disc; }

ol li { list-style: decimal; }

ol ol li, ul ol li { list-style: lower-alpha; }

ol ul li, ul ul li { list-style: square; }

hr {
  height: 1px;
  background: black;
}

a { color: #aaa; }

a:hover { color: #777; }

a:active { color: #444; }

.modal {
  position: fixed;
  height: 100%;
  background: rgba(100, 100, 100, 0.7);
}

.modal main {
  position: fixed;
  padding: 1em;
  height: 50%;
  width: 50%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal button {
  position: fixed;
  padding: 1em;
  top: 1em;
  right: 1em;
  width: auto;
}
